body {
  background-color: red;
}
#myVid {
  position: absolute;
  top: 500px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

#template {
  display: flex;
  flex-direction: column;

}




#shelf {
  position: absolute;
  top: 176px;
  left: 22px;
  right: 0;
  display: block;
  width: 100%;
  margin-left: -10px;
  z-index: -1;

}

header {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

video {
  width: 100%;
  height: auto;
  margin: auto;
}

#artikkel {
  background-color: white;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 760px;
  box-sizing: content-box;
  }

inforight {
  float: right;
}

.info {
  padding: 10px;
  border: 3px solid black;
  background-color: red;
}

.pic {
  height: 50px;
  width: auto;
  float: right;
}
