
.zoomred {
	position: absolute; left: 58%; top: 50%;
	transition: transform .2s;
}
.zoomred:hover {
  transform: scale(1.2);
  z-index: +5;

}
.zoomblue {
	position: absolute; left: 46%; top: 50%;
	transition: transform .2s;
}
.zoomblue:hover {
  transform: scale(1.2);
  z-index: +5;

}
.zoomgreen {
	position: absolute; left: 34%; top: 50%;
	transition: transform .2s;
}
.zoomgreen:hover {
  transform: scale(1.2);
  z-index: +5;
}

.bookshelf {
	position: absolute; left: 21.2%; top: 30%;
	z-index: -1;
}

